@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 170 0% 100%;
		--foreground: 198.14 100% 8.43%;
		--muted: 117.74 0% 90.77%;
		--muted-foreground: 253 13% 37%;
		--popover: 253 0% 100%;
		--popover-foreground: 253 58% 0%;
		--card: 56.6 0% 100%;
		--card-foreground: 0 0% 0%;
		--border: 198.14 100% 8.43%;
		--input: 198.14 100% 8.43%;
		--primary: 153.87 100% 31.96%;
		--primary-foreground: 198.14 0% 100%;
		--secondary: 150 20% 98.04%;
		--secondary-foreground: 253 5% 29%;
		--accent: 156 12.2% 91.96%;
		--accent-foreground: 253 12% 22%;
		--destructive: 0 70.37% 52.35%;
		--destructive-foreground: 0 0% 100%;
		--ring: 214.25 99.2% 48.82%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 198.14 100% 8.43%;
		--foreground: 156 12.2% 91.96%;
		--muted: 201.6 11.96% 40.98%;
		--muted-foreground: 253 13% 63%;
		--popover: 198.14 100% 8.43%;
		--popover-foreground: 253 0% 100%;
		--card: 198.14 100% 8.43%;
		--card-foreground: 253 31% 99%;
		--border: 200 18.12% 29.22%;
		--input: 215 27.9% 16.9%;
		--primary: 153.87 100% 31.96%;
		--primary-foreground: 198.14 0% 100%;
		--secondary: 201.6 11.96% 40.98%;
		--secondary-foreground: 253 0% 100%;
		--accent: 253 3.4% 17.85%;
		--accent-foreground: 253 13% 74%;
		--destructive: 0 70.37% 52.35%;
		--destructive-foreground: 0 0% 100%;
		--ring: 217.06 89.47% 29.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
